<!-- list of users -->
<table border="0">
  <tr>
    <th>Name</th>
	<th></th>
	<th></th>
    <th>Email</th>
  </tr>
  <%users.forEach(function(user){%>
	<tr>
    <td><%=user.name%></td>
	<td></td>
	<td></td>
    <td><%=user.email%></td>
  </tr>	
  <%});%>
</table>
<hr/>
<form action="/people" method="POST">
	<input type="text" placeholder="Name" name="name"/>
	<br/>
	<input type="text" placeholder="Email" name="email"/>
	<br/>
    <input type="submit" value="Add User"/>
 </form>